.sidebar {
  background-color: #f8f9fa;
  height: 100vh;
  padding-top: 10px;

}

.sidebar a {
  text-decoration: none;
  line-height: 2;
  color: black;
  margin-left: 10px;

}

.sidebar a:hover {
  color: blue;
}

.product-title {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 2px;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  overflow: hidden;
  box-sizing: content-box;

}

.table {
  /* max-width: 90%; */
}